.text-weight-bold[data-v-1701ef08]{font-size:larger}.move-card[data-v-1701ef08]{width:100%;max-width:550px}.header[data-v-1701ef08]{max-height:300px;height:300px;background-image:url(/bg/bee-background1.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
