.text-weight-bold[data-v-4d7bd678]{font-size:larger}.move-card[data-v-4d7bd678]{width:100%;max-width:550px}.header[data-v-4d7bd678]{max-height:300px;height:300px;background-image:url(/bg/spider-background.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
