.text-weight-bold[data-v-81cd0b3a]{font-size:larger}.move-card[data-v-81cd0b3a]{width:100%;max-width:550px}.header[data-v-81cd0b3a]{max-height:300px;height:300px;background-image:url(/bg/beetle-background.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
