.card-1[data-v-4677c152]{max-width:650px;min-width:150px}.container-1[data-v-4677c152]{display:flex;flex-direction:row;justify-content:center;align-items:center}@media screen and (min-width: 1024px){.container-1[data-v-4677c152]{justify-content:flex-end}}
