.text-weight-bold[data-v-1319c30f]{font-size:larger}.move-card[data-v-1319c30f]{width:100%;max-width:550px}.header[data-v-1319c30f]{max-height:300px;height:300px;background-image:url(/bg/ant-background.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
