.text-weight-bold[data-v-1eead430]{font-size:larger}.header[data-v-1eead430]{max-height:300px;height:300px;background-image:url(/bg/boardgame.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
