.text-weight-bold[data-v-2d67984e]{font-size:larger}.move-card[data-v-2d67984e]{width:100%;max-width:550px}.header[data-v-2d67984e]{max-height:300px;height:300px;background-image:url(/bg/grasshopper-background.jpeg);background-size:cover;background-color:#517dc9;background-blend-mode:multiply;color:#fff}
